---
import AboutLayout from '@layouts/AboutLayout.astro';
import { getEntryBySlug } from 'astro:content';

const about = await getEntryBySlug('about', 'index');
const { Content } = await about.render();
---

<AboutLayout title="About ELIXIR Norway">
	<h1>{about.data.title}</h1>
	<Content />
</AboutLayout>