---
import NavMenu from './NavMenu';
import Searchbar from './Searchbar.astro';
import { elixirNOLogoWhiteSvg } from 'src/globalVariables';
---

<div class="flex flex-row flex-wrap items-center justify-between py-5">
	<img
		src={elixirNOLogoWhiteSvg}
		alt="ELIXIR Norway LOGO"
		height={150}
		width={150}
	/>
	<NavMenu client:load />
	<Searchbar />
</div>
