---
import { searchQueryString } from 'src/globalVariables';

const search = Astro.url.searchParams.get(searchQueryString);
---

<form method="get">
	<div class="flex flex-row">
		<input type="text" name={searchQueryString} placeholder="search" class="rounded-l-md p-2" value={search}/>
		<button class="rounded-r-md bg-elixir-orange p-2">Search</button>
	</div>
</form>
