---
import { elixirNOBlack } from 'src/globalVariables';
import Navbar from './Navbar';
import SearchButton from './SearchButton';
import { globalHomeRoute } from 'src/globalVariables';
import SearchModal from '@components/modals/SearchModal';
const mdFiles = await Astro.glob('../../pages/**/*.md');
---

<div
	class="fixed top-0 z-10 flex w-full flex-row items-center justify-between bg-white p-6 shadow-md lg:px-32">
	<a href={`${globalHomeRoute}/`}>
		<img
			src={elixirNOBlack}
			alt="Elixir Logo"
			height="70"
			width="70"
			class="cursor-pointer"
		/>
	</a>
	<Navbar client:load />
	<SearchButton client:load />
	<SearchModal mdData={mdFiles} client:load />
</div>
