---
import { elixirNOBlack } from 'src/globalVariables';
import Navbar from './Navbar';
import HamburgerMenu from './HamburgerMenu';
import { globalHomeRoute } from 'src/globalVariables';
---

<div
	class="fixed top-0 z-10 flex w-full flex-row items-center justify-between bg-white p-6 shadow-md lg:px-32">
	<a href={`${globalHomeRoute}/`}>
		<img
			src={elixirNOBlack}
			alt="Elixir Logo"
			height="70"
			width="70"
			class="cursor-pointer"
		/>
	</a>
	<Navbar client:load />
	<HamburgerMenu client:load />
</div>
