
.link {
  @apply text-elixir-blue;
  transition: color 0.3s ease;
}

.link:hover {
  @apply text-elixir-orange;
}

.orange-ring-bullet::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid theme('colors.elixir-orange');
  border-radius: 50%;
  margin-left: 18px;
  margin-right: 12px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	padding-top: 2rem;
    padding-bottom: 1rem;
}

img,
svg {
    padding-top: 3rem;
    padding-bottom: 3rem;

}