@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS reset for sane defaults */
/* Do not make changes to this */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* Apply any global styles below */
html {
	@apply bg-slate-200;
}

.fit-height {
	height: 100%;
}

.fit-width {
	width: 100%;
}
