
.icon {
  float: left;
  width: 150px;
  height: 170px;
}

.icon > img {
  width: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.panel:after {
  content: "";
  display: block;
  clear: both;
}

.panel_title {
  font-size:large;
  color: #047eaa;
  font-weight: bold;
}

.panel {
  display: flex;
  border: 2px solid red;
  min-width: 300px;
}
/*TODO: Resizing the panel eventually makes the columns overlap. We should have a way to make it look better. */

.panel > .box {
  border: 2px solid black; 
  float: right;
  width: 70%;
  min-width: 190px;
}


.column {
    float: left;
    width: 50%;
}

.row {

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: block;
  clear: both;
}