---
import MainLayout from '@layouts/MainLayout.astro';

import '@styles/global.css';
import {listServicesData, listServicesEIn, listServicesTools} from "../globalVariables";

const postsEInfra = await Astro.glob('../pages/services/eInfrastructures/*.md');
const postsTools = await Astro.glob('../pages/services/tools/*.md');
const postsDataMS = await Astro.glob('../pages/services/dataManagementSharing/*.md');


---

<MainLayout>
    <section class="text-left max-w-1140">
        <div>
            <h1>Services</h1>
            <p>ELIXIR Norway offers services and infrastructure for life science, including software tools and workflows, databases and storage. In addition ELIXIR Norway provides support through its national helpdesk and offers trainings. Moreover, ELIXIR Norway provides services to the international research community.</p>
            <h2>E-infrastructure</h2>
            <nav class="grid grid-cols-2 gap-5">
                {
                    postsEInfra.map(service => (
                        <a class="bg-elixir-orange hover:bg-orange-600 text-center py-5 text-white" href={service.frontmatter.id.replace (/^/,'#')}>{service.frontmatter.title}</a>
                    ))
                }
            </nav>
            <h2>Tools and data resources</h2>
            <nav class="grid grid-cols-3 gap-5">
                {
                    postsTools.map(service => (
                        <a class="bg-elixir-blue hover:bg-blue-950 text-center py-5 text-white" href={service.frontmatter.id.replace (/^/,'#')}>{service.frontmatter.title}</a>
                    ))
                }
            </nav>
            <h2>Data management and data sharing</h2>
            <nav class="grid grid-cols-3 gap-5">
                {
                    postsDataMS.map(service => (
                        <a class="bg-elixir-green hover:bg-lime-500 text-center py-5 text-white" href={service.frontmatter.id.replace (/^/,'#')}>{service.frontmatter.title}</a>
                    ))
                }
            </nav>
        </div>
        <div class="border-t">

            {postsEInfra.map((itemEI) =>
                <itemEI.Content />
            )}

            {postsTools.map((itemT) =>
                <itemT.Content />
            )}

            {postsDataMS.map((itemDMS) =>
                <itemDMS.Content />
            )}




        </div>
    </section>
</MainLayout>
