---
import MainLayout from '@layouts/MainLayout.astro';

import '@styles/global.css';
import {dictNodes, listServicesEIn} from "../globalVariables";

---

<MainLayout>
    <section class="text-left max-w-1140">
        <div>
            <h1>Services</h1>
            <p>ELIXIR Norway offers services and infrastructure for life science, including software tools and workflows, databases and storage. In addition ELIXIR Norway provides support through its national helpdesk and offers trainings. Moreover, ELIXIR Norway provides services to the international research community.</p>
        </div>
        <div>
            <h2>E-infrastructure</h2>
            <div >
                <nav class="grid grid-cols-2 gap-5">
                    {
						listServicesEIn.map(service => (
                            <a class="bg-elixir-orange text-center py-5 text-white hover:bg-orange-600" id={service}>{service}</a>
						))
					}
                </nav>
            </div>
        </div>
    </section>
</MainLayout>
