---
import MainLayout from '@layouts/MainLayout.astro';

const news = await Astro.glob('/src/pages/news/summaries/*.md');
---

<MainLayout title="News">
	<div class="flex flex-col">
		{
			news.map(content =>
				<article class="mt-5 mb-5" set:html={content.compiledContent()}></article>
			)
		}
	</div>
</MainLayout>