---
import '@styles/global.css';
import '../globalVariables.ts'
---

<footer class="bg-clip-padding p-4 bg-indigo-500">
    <div class="flex flex-row space-x-4 place-content-center me-100">
        <a title="UiB" href="https://uib.no" target="_blank" rel="noopener">
            <img src="img/logos/UiB_eng_white_center.png" alt="UiBlogo_Eng_white_center" width="122" height="42" />
        </a>
        <a title="NTNU" href="https://ntnu.no" target="_blank" rel="noopener">
            <img src="img/logos/NTNU_eng_white_center.png" alt="NTNUlogo_Eng_white_center" width="187" height="36" />
        </a>
        <a title="UiT" href="https://uit.no" target="_blank" rel="noopener">
            <img src="img/logos/UiT_no_white_center.png" alt="UiTlogo_no_white_center" width="47" height="47" />
        </a>
        <a title="NMBU" href="https://www.nmbu.no/" target="_blank" rel="noopener">
            <img src="img/logos/NMBU_eng_lightgreen_center.png" alt="NMBU_eng_lightgreen_center" width="134" height="46" />
        </a>
        <a title="UiO" href="https://uio.no" target="_blank" rel="noopener">
            <img src="img/logos/UiO_eng_red_center.png" alt="UiO_Eng_red_center" width="47" height="47" />
        </a>
        <a href="https://www.forskningsradet.no" target="_blank" rel="noopener">
            <img src="img/logos/FR_eng_white_center.png" alt="FR_Eng_white_center" width="201" height="37" />
        </a>
    </div>
    <address>
        <a href="mailto:webmaster@example.com">Contact Us</a>
    </address>
    <div class="text-center">
        <p>Financed by the Research Council of Norway’s grants 208481, 270068, 295932, the University of Bergen, the University of Oslo, the Arctic University of Norway in Tromsø, the Norwegian University of Science and Technology and the Norwegian University of Life Sciences: NMBU</p>
    </div>
</footer>
