---
---

<div 	class="m-8 flex h-fit min-w-fit flex-col rounded-lg bg-white drop-shadow-md">
	<p class="rounded-t-lg bg-elixir-blue text-center text-lg text-white">
        Right Col
	</p>
    Image
</div>