---
import Layout from "../../layouts/Layout.astro";
import HomeContent from "../../layouts/HomeContent.astro";
import Organisation from "../../content/organisation/index.mdx";
---

<Layout>
    <div class="Organization-tromsoe mx-auto max-w-[800px] py-4 text-content node-info">
    <h2 class="section-title text-content">ELIXIR Norway organisation</h2>
    <Organisation>
</Layout>