---
import '@/styles/global.css';
import '@/styles/home.css';

import { FaQuestion } from 'react-icons/fa';
---

<div class="helpdesk">
    <div class="icon">
      <FaQuestion size={40} />
    </div>
    <div class="text-title">
        <h2>HELPDESK</h2>
    </div>
    <div class="text-content">
      <p>Contact our nationally coordinated Helpdesk to get advice and support on most topics regarding bioinformatics and data management.</p>
    </div>
    <div class="line"></div>
    <div class="text-content">
      <h3>How to get help?</h3>
      <p>Contact us by email at <a href="mailto:support@elixir.no">support@elixir.no</a>.</p>
      <p>The request then goes out to all members of the Helpdesk and is picked up by the one with the most expertise on the particular topic.</p>
    </div>
    <div class="text-content">
      <h3>Usage instructions</h3>
      <p>ELIXIR Norway also hosts documentation for the use of our infrastructure. The documentation can be found <a href="link_to_documentation">here</a>.</p>
    </div>
    <div class="text-content">
      <h3>Storage request</h3>
      <p>To apply for a storage quota, download and fill in a storage request form (spreadsheet) from <a href="link_to_storage_request_form">here</a> (this will be replaced soon).</p>
    </div>
    <div class="text-content">
      <h3>Support model</h3>
      <p>Projects that can be solved within two working days or less are free of charge (enabled by funding from the Research Council of Norway). For more comprehensive projects, an hourly rate applies, and you need to enter an agreement with ELIXIR Norway on this.</p>
    </div>
</div>