---
import Panel from "@components/Panel.astro";

import '@styles/panels.css';
---
<html lang="en">
  <body>
    
    <div class="row">
      <div class="column"><Panel icon="../../public/img/icons/screwdriver-wrench-solid-col.svg" link="https://elixir.no/services" title="Services" description="Analysis and management of life science data within marine, health, genomics, proteomics, structural analysis and more."/></div>
      
      <div class="column"><Panel icon="../../public/img/icons/screwdriver-wrench-solid-col.svg" link="https://elixir.no/services" title="Services" description="Analysis and management of life science data within marine, health, genomics, proteomics, structural analysis and more."/></div>
    </div>        
    


  </body>
</html>