---
import '@styles/global.css';
import TopNavMenu from '@components/topNavMenu/TopNavMenu.astro';
import Footer from '@components/Footer.astro';
import Modal from '@components/modals/Modal';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{`Elixir Norway ${title || ''}`}</title>
	</head>
	<body>
		<div class="grid h-full grid-rows-[auto_minmax(500px,1fr)_2fr_200px]">
			<TopNavMenu />
			<div class="sticky top-0 grid grid-cols-[1fr_10fr_1fr] bg-gray-900/90">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="grid grid-cols-3 bg-gray-800">
				<!-- todo: Carousel component comes here -->
			</div>
			<div class="grid grid-cols-[1fr_10fr_1fr]">
				<div></div>
				<div class="main-content mb-5 mt-5"><slot /></div>
				<div></div>
			</div>
			<div class="bg-gray-800 align-bottom">
				<Footer />
			</div>
		</div>
	</body>
</html>
