---
import "../../../elixir-no-astro3/src/styles/globals.css";

import { NavbarWide } from "@/components/navbar/navbar-wide";
import Footer from "@/components/Footer.astro";

interface Props {
  title?: string;
}
const { title = "Elixir Norway" } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="mx-auto max-w-[1200px] bg-background">
    <div class="hidden md:block">
      <NavbarWide client:load />
    </div>
    <div class="block md:hidden">
      <!-- TODO: burger menu for mobile screens -->
    </div>
    <div class="h-full p-10">
      <slot />
    </div>
    <Footer />
  </body>
</html>
