---
import '@styles/global.css';
import TopNavMenu from '@components/topNavMenu/TopNavMenu.astro';
import Footer from '../components/Footer.astro';
import LeftMenu from '@components/LeftMenu.astro';
import type { LeftMenuProps } from 'src/types';
const { menuName, menuItems } = Astro.props as LeftMenuProps;
---

<div class="grid h-full grid-rows-[auto_minmax(500px,1fr)_2fr_200px]">
	<div class="sticky top-0 z-10 grid grid-cols-[1fr_10fr_1fr] bg-gray-900/90">
		<div></div>
		<div>
			<TopNavMenu />
		</div>
		<div></div>
	</div>
	<div class="grid grid-cols-3 bg-gray-600">
		<!-- todo: Carousel component comes here -->
	</div>
	<div class="grid grid-cols-[2fr_8fr_2fr]">
		<LeftMenu menuName={menuName} menuItems={menuItems} />
		<div class="main-content mb-5 mt-5"><slot /></div>
		<div></div>
	</div>
	<div class="bg-gray-800">
		<Footer />
	</div>
</div>
