---
import TopNavMenu from '@components/topNavMenu/TopNavMenu.astro';
---

<div class="grid h-full grid-rows-[minmax(500px,1fr)_2fr_200px]">
	<div
		class="fixed top-0 z-10 grid h-[150px] w-full grid-cols-[1fr_10fr_1fr] overflow-visible bg-gray-900/30">
		<div></div>
		<div>
			<!-- todo: Menu component comes here -->
			<TopNavMenu />
		</div>
		<div></div>
	</div>
	<div class="grid grid-cols-3 bg-gray-600">
		<!-- todo: Carousel component comes here -->
	</div>
	<div class="grid grid-cols-[1fr_10fr_1fr]">
		<div></div>
		<slot />
		<div></div>
	</div>
	<div class="bg-gray-800">
		<!-- todo: Footer component comes here -->
	</div>
</div>
