---
import '@styles/global.css';
---

<div class="main-layout-container">
    <div class="main-layout-header"></div>
    <div class="main-layout-navbar"></div>
    <div class="main-layout-content">
        <slot />
    </div>
    <div class="main-layout-footer"></div>
</div>

<style>
    .main-layout-container {
        display: grid;
        grid-template-areas: 
            "header header"
            "navbar content"
            "footer footer";
        grid-template-columns: 300px 10fr;
        grid-template-rows: 100px 1fr 200px;
        height: 100%;
        width: 100%;

        /* For Mobile View */
        @media screen and (max-width: 640px){
            grid-template-areas: 
                "header"
                "navbar"
                "content"
                "footer";
            grid-template-columns: 1fr;
            grid-template-rows: 100px 1fr 1fr 200px;
        }
    }

    .main-layout-header {
        display: grid;
        grid-area: header;
        background-color: #bdbdbd;
    }

    .main-layout-navbar {
        display: grid;
        grid-area: navbar;
        background-color: #9c9c9c;
    }

    .main-layout-content {
        display: grid;
        grid-area: content;
        background-color: #ffffff;
    }

    .main-layout-footer {
        display: grid;
        grid-area: footer;
        background-color: #424242;
    }
</style>
